* {
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37)!important;
}

div.container-fluid {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif!important;
    font-weight: normal !important;
    background-color: rgb(37, 37, 37);
}

.navbar.navbar-default.navbar-custom {
    border: none!important;
    position: sticky-top !important;
}

nav li a {
    color: white !important;
}

button.navbar-toggle {
    border: none !important;
    background-color: transparent !important;
}

span.icon-bar {
    background-color: white !important;
    width: 32px!important;
}

button.navbar-toggle:hover {
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
}

a.navbar-brand {
    color: white !important;
    background-color: rgb(37, 37, 37)!important;
    font-family: Brush Script MT, Brush Script Std, cursive !important;
    font-size: 35px;
}

.bg-image img {
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 0px;
    border: 0px solid white !important;
    margin-right: 35px;
}

.contact {
    float: left;
    width: 50%;
    height: 50px;
    margin-left: 35px;
    margin-top: 67px;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    padding: 50px !important;
}

.bg-image {
    text-align: right;
    background-image: url('../desktop/fil.jpg');
    background-size: cover;
    width: 100%;
    height: 250px;
    margin: 0% auto;
    margin-top: 0px;
}

h2 {
    text-align: left;
    width: 200px;
    float: left;
    font-weight: bold !important;
    color: white !important;
    padding: 1Opx;
    margin-top: 52px !important;
    margin-bottom: 52px !important;
    margin-right: 60px !important;
    margin-left: 60px !important;
}

.h2 {
    color: white!important;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: white !important;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

.vl {
    border-left: 6px solid white!important;
    height: 15px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

p {
    padding: 10px;
    color: white;
}

.aboutme {
    margin-right: 45px;
    margin-left: 45px;
    border-radius: 40px;
    text-align: center;
    margin-top: 30px;
    font-family: sans-serif;
}

.vl2 {
    border-left: 6px solid white;
    height: 460px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 0px;
}

.hobb {
    height: 200px;
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-top: 15px rgb(37, 37, 37) dashed;
    border-bottom: 15px rgb(37, 37, 37) dashed;
}

span.quo {
    content: "\201C";
    font-size: 50px;
}

.flip {
    height: 200px;
    width: 50%;
    float: right;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-top: 15px rgb(37, 37, 37) dashed;
    border-bottom: 15px rgb(37, 37, 37) dashed;
}

.port {
    margin-top: 250px;
    width: 100%;
    height: 900px;
    background-color: white;
}

.flip p {
    color: rgb(37, 37, 37);
}

.hobb p {
    color: rgb(37, 37, 37);
}

.port {
    padding: 20px;
}

.port img {
    margin-right: 30px;
    margin-bottom: 20px;
}

.fa {
    padding: 8px;
    font-size: 20px !important;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    background-color: white;
    color: rgb(37, 37, 37);
    text-decoration: none;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: transparent;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: transparent;
    color: white;
}

.fa-pinterest {
    background: transparent;
    color: white;
}

.fa-instagram {
    background: transparent;
    color: white;
}

div.social {
    text-align: center;
    margin-top: 10px;
}